$size: 850px;

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;

  .navbar {
    margin-bottom: 10px;
  }
}

.list-class {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  height: 70vh;
  flex-grow: 1;

  .card-margin {
    margin: 5px;

    .card-class {
      width: 270px;
      height: 250px;
    }
  }
}

.content-class {
  width: 60vw;
}

@media only screen and (max-width: $size) {
  .list-class {
    max-height: 60vh;
    flex-grow: 1;

    .card-margin {
      margin: 5px 0;

      .card-class {
        width: 80vw;
      }
    }
  }

  .content-class {
    width: 90vw;
  }
}
